In [16]:
import gspread
import pandas as pd
from oauth2client.service_account import ServiceAccountCredentials

# Configurar as credenciais da conta de serviço
scope = ['https://spreadsheets.google.com/feeds', 'https://www.googleapis.com/auth/drive']
credentials = ServiceAccountCredentials.from_json_keyfile_name('sinuous-concept-307423-8a768181a3c5.json', scope)

# Autenticar e abrir a planilha
client = gspread.authorize(credentials)
planilha = client.open('Ganhos')

# Selecionar a primeira guia da planilha
guia = planilha.get_worksheet(0)

# Obter todos os valores da guia
dados = guia.get_all_values()

# Criar o DataFrame pandas
df = pd.DataFrame(dados[1:], columns=dados[0])

In [17]:
df = df.apply(lambda x: x.str.replace(',','.'))
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(df)

        category                         name cost_juau cost_lana    month
0   ganhos extra                           PA       500         0  2022-08
1   ganhos extra                 dinheiro léo      1000         0  2022-08
2         ganhos                           VR         0       744  2022-08
3         ganhos                      salário         0      2721  2022-08
4         ganhos                           VR       500         0  2022-08
5         ganhos                      salário      2000         0  2022-08
6   ganhos extra         presente ifood arthu        70         0  2022-09
7   ganhos extra              receita federal     80.79         0  2022-09
8   ganhos extra             presente vô gesy       200         0  2022-09
9   ganhos extra                 presente Léo       175         0  2022-09
10  ganhos extra                           PA       500         0  2022-09
11  ganhos extra                presente lana       130         0  2022-09
12        ganhos                           VR         0       744  2022-09
13        ganhos                      salário         0      2721  2022-09
14        ganhos                           VR       500         0  2022-09
15        ganhos                      salário      1200         0  2022-09
16        ganhos                 adiantamento       800         0  2022-09
17  ganhos extra                           PA       500         0  2022-10
18        ganhos                           VR         0       774  2022-10
19        ganhos                      salário         0      2721  2022-10
20        ganhos                      salário      1200         0  2022-10
21        ganhos                           VR       500         0  2022-10
22        ganhos                 adiantamento       800         0  2022-10
23  ganhos extra                           PA       550         0  2022-11
24  ganhos extra              reembolso mobly    926.94         0  2022-11
25        ganhos                           VR         0       774  2022-11
26        ganhos                      salário         0      2721  2022-11
27        ganhos                           VR       500         0  2022-11
28        ganhos                      salário      1200         0  2022-11
29        ganhos                 adiantamento       800         0  2022-11
30  ganhos extra           presente natal Léo       500         0  2022-12
31        ganhos                           VR         0       774  2022-12
32        ganhos                      salário         0      2721  2022-12
33        ganhos                      salário      1200         0  2022-12
34        ganhos                 adiantamento       800         0  2022-12
35        ganhos                           VR       500         0  2022-12
36  ganhos extra                           PA       500         0  2023-01
37  ganhos extra                aplicação RDB      3.34         0  2023-01
38  ganhos extra        presente ano novo Léo       100         0  2023-01
39        ganhos                           VR         0       774  2023-01
40        ganhos                      salário         0      2721  2023-01
41        ganhos                           VR       500         0  2023-01
42        ganhos                      salário      1200         0  2023-01
43        ganhos                 adiantamento       800         0  2023-01
44  ganhos extra           correção splitwise         0        20  2023-02
45  ganhos extra                    extra Léo        50         0  2023-02
46  ganhos extra                           PA       550         0  2023-02
47        ganhos                           VR         0    565.25  2023-02
48        ganhos                      salário         0      2721  2023-02
49        ganhos                           VR       500         0  2023-02
50        ganhos                      salário    420.47         0  2023-02
51        ganhos                      salário    990.67         0  2023-02
52        ganhos                 adiantamento       800         0  2023-02
53  ganhos extra          lollapalooza Léo :)         0       750  2023-03
54  ganhos extra          lollapalooza Léo :)       750         0  2023-03
55        ganhos                           VR       500         0  2023-03
56        ganhos                      salário   1623.52         0  2023-03
57        ganhos                 adiantamento   1363.84         0  2023-03
58        ganhos                           VR         0       803  2023-03
59        ganhos                      salário         0      2721  2023-03
60  ganhos extra    presente de formatura Léo      1000         0  2023-04
61        ganhos                      salário         0      2721  2023-04
62        ganhos           salário + rescisão   2906.86         0  2023-04
63        ganhos                           VR         0       565  2023-04
64        ganhos                           VR       500         0  2023-04
65  ganhos extra       presente mop spray Léo         0       100  2023-05
66  ganhos extra       presente mop spray Léo       100         0  2023-05
67        ganhos                      salário  4064.775         0  2023-05
68        ganhos                      salário         0   3128.83  2023-05
69        ganhos                           VR         0       714  2023-05
70        ganhos                      salário  4064.775         0  2023-06
71        ganhos                      salário         0      2721  2023-06
72        ganhos                           VR         0    654.25  2023-06
73        ganhos                      salário  4064.775         0  2023-07
74        ganhos                      salário         0      2721  2023-07
75        ganhos                           VR         0     773.5  2023-07
76  ganhos extra  presente roger waters (Léo)         0       350  2023-10
77  ganhos extra  presente roger waters (Léo)       350         0  2023-10

In [18]:
import mysql.connector
from mysql.connector import Error

In [19]:
# old aws
# mydb = mysql.connector.connect(host= 'accountingbob.cs8refzom5ab.us-east-1.rds.amazonaws.com',
#                                      database='bob',
#                                      user='admin',
# password='oldnumber7')

# new azure
# mydb = mysql.connector.connect(host= 'nossa-residencia-mysql-azure-server.mysql.database.azure.com',
#                                      database='bob',
#                                      user='ocamposfaria',
#                                      password='oldnumber7.Tennessee')

# localhost
mydb = mysql.connector.connect(host= '127.0.0.1',
                                     database='bob',
                                     user='ocamp',
                                     password='oldnumber7.Tennessee')

if mydb.is_connected():
    db_Info = mydb.get_server_info()
    print("Connected to MySQL Server version ", db_Info)
else:
    print("Error, not conected")

Connected to MySQL Server version  8.0.32

In [20]:
try:
    cursor = mydb.cursor()

    query = f"""
            TRUNCATE TABLE bob.earnings         
            """
        
    cursor.execute(query)

    mydb.commit()
    cursor.close()
except Exception as e:
    print(query)
    print(e)
    cursor.close()

In [21]:
try:
    cursor = mydb.cursor()

    for i in range(df.shape[0]):
        query = f"""
                INSERT INTO bob.earnings (
                `category`,
                `name`,
                `cost_juau`,
                `cost_lana`,
                `month`
                )

                VALUES (
                '{df['category'][i]}',
                '{df['name'][i]}',
                '{df['cost_juau'][i]}',
                '{df['cost_lana'][i]}',
                '{df['month'][i]}'
                )                
                """
        
        cursor.execute(query)

    mydb.commit()
    cursor.close()
except Exception as e:
    print(query)
    print(e)
    cursor.close()