In [1]:
import gspread
import pandas as pd
from oauth2client.service_account import ServiceAccountCredentials

# Configurar as credenciais da conta de serviço
scope = ['https://spreadsheets.google.com/feeds', 'https://www.googleapis.com/auth/drive']
credentials = ServiceAccountCredentials.from_json_keyfile_name('sinuous-concept-307423-8a768181a3c5.json', scope)

# Autenticar e abrir a planilha
client = gspread.authorize(credentials)
planilha = client.open('Gastos futuros')

# Selecionar a primeira guia da planilha
guia = planilha.get_worksheet(0)

# Obter todos os valores da guia
dados = guia.get_all_values()

# Criar o DataFrame pandas
df = pd.DataFrame(dados[1:], columns=dados[0])

In [2]:
df = df.apply(lambda x: x.str.replace(',','.'))
df

,month,group,category,name,cost_juau,cost_lana
0,2023-05,nossa residência,contas,seguro do carro,90.56666667,74.1
1,2023-05,nossa residência,contas,seguro incêndio do apt,15.03333333,12.3
2,2023-05,apenas joão,apenas joão,elden ring,219.9,0
3,2023-05,compras,compras,aspirador p presente,154,126
4,2023-06,nossa residência,contas,seguro do carro,90.56666667,74.1
5,2023-06,nossa residência,contas,seguro incêndio do apt,15.03333333,12.3
6,2023-06,compras,compras,lavagem do sofá,99,81
7,2023-06,apenas joão,apenas joão,roupas,1000,0
8,2023-07,nossa residência,contas,seguro do carro,90.56666667,74.1
9,2023-07,nossa residência,contas,seguro incêndio do apt,15.03333333,12.3
10,2023-08,nossa residência,contas,seguro do carro,90.56666667,74.1
11,2023-08,nossa residência,contas,seguro incêndio do apt,15.03333333,12.3
12,2023-09,nossa residência,contas,seguro do carro,90.56666667,74.1
13,2023-09,nossa residência,contas,seguro incêndio do apt,15.03333333,12.3
14,2023-10,viagens,Pirenópolis ou chapada,mini viagem,1000,1000
15,2023-10,nossa residência,contas,seguro do carro,90.56666667,74.1
16,2023-10,nossa residência,contas,seguro incêndio do apt,15.03333333,12.3
17,2023-10,compras,compras,ingresso roger waters,500,500
18,2023-11,nossa residência,contas,seguro do carro,90.56666667,74.1
19,2023-11,nossa residência,contas,seguro incêndio do apt,15.03333333,12.3
20,2023-12,nossa residência,contas,seguro do carro,90.56666667,74.1
21,2023-12,nossa residência,contas,seguro incêndio do apt,15.03333333,12.3
22,2024-01,nossa residência,contas,seguro do carro,90.56666667,74.1
23,2024-01,nossa residência,contas,seguro incêndio do apt,15.03333333,12.3
24,2024-02,nossa residência,contas,seguro do carro,90.56666667,74.1
25,2024-02,nossa residência,contas,seguro incêndio do apt,15.03333333,12.3
26,2024-03,nossa residência,contas,seguro do carro,90.56666667,74.1
27,2024-03,compras,contas,seguro incêndio do apt,15.03333333,12.3
28,2024-04,nossa residência,contas,seguro do carro,90.56666667,74.1
29,2024-04,nossa residência,contas,seguro incêndio do apt,15.03333333,12.3

In [3]:
import mysql.connector
from mysql.connector import Error

In [4]:
# old aws
# mydb = mysql.connector.connect(host= 'accountingbob.cs8refzom5ab.us-east-1.rds.amazonaws.com',
#                                      database='bob',
#                                      user='admin',
# password='oldnumber7')

# new azure
# mydb = mysql.connector.connect(host= 'nossa-residencia-mysql-azure-server.mysql.database.azure.com',
#                                      database='bob',
#                                      user='ocamposfaria',
#                                      password='oldnumber7.Tennessee')

# localhost
mydb = mysql.connector.connect(host= '127.0.0.1',
                                     database='bob',
                                     user='ocamp',
                                     password='oldnumber7.Tennessee')

if mydb.is_connected():
    db_Info = mydb.get_server_info()
    print("Connected to MySQL Server version ", db_Info)
else:
    print("Error, not conected")

Connected to MySQL Server version  8.0.32

In [5]:
try:
    cursor = mydb.cursor()

    query = f"""
            TRUNCATE TABLE bob.future_expenses         
            """
        
    cursor.execute(query)

    mydb.commit()
    cursor.close()
except Exception as e:
    print(query)
    print(e)
    cursor.close()

In [6]:
try:
    cursor = mydb.cursor()

    for i in range(df.shape[0]):
        query = f"""
                INSERT INTO future_expenses (
                `month`,
                `group`,
                `category`,
                `cost_juau`,
                `cost_lana`
                )

                VALUES (
                '{df['month'][i]}',
                '{df['group'][i]}',
                '{df['category'][i]}',
                '{df['cost_juau'][i]}',
                '{df['cost_lana'][i]}'
                )                
                """
        
        cursor.execute(query)

    mydb.commit()
    cursor.close()
except Exception as e:
    print(query)
    print(e)
    cursor.close()